/target/classes/net/duckycraftmc/discord/commands/Command.class
/target/classes/net/duckycraftmc/discord/commands/CommandManager.class
/target/classes/net/duckycraftmc/discord/Main.class
/target/classes/net/duckycraftmc/discord/commands/ServerInfoCommand.class
/target/classes/net/duckycraftmc/discord/DiscordBot.class
.gitignore
/.idea/compiler.xml
/.idea/jarRepositories.xml
/.idea/misc.xml
/.idea/vcs.xml
/.idea/workspace.xml
/target/classes/net/duckycraftmc/discord/commands/AnnounceCommand.class
/target/bot.bat
/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/target/discord-1.0.jar
/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/target/classes/META-INF/MANIFEST.MF
/target/maven-archiver/pom.properties
/target/classes/net/duckycraftmc/discord/music/AudioPlayerSendHandler.class
/target/classes/net/duckycraftmc/discord/music/GuildMusicManager.class
/target/classes/net/duckycraftmc/discord/commands/JoinCommand.class
/target/classes/net/duckycraftmc/discord/music/PlayerManager$1.class
/target/classes/net/duckycraftmc/discord/music/PlayerManager.class
/target/classes/net/duckycraftmc/discord/commands/StopCommand.class
/target/classes/net/duckycraftmc/discord/music/TrackScheduler.class
/target/discord-1.0-jar-with-dependencies.jar
/target/classes/net/duckycraftmc/discord/commands/QueueCommand.class
/target/classes/net/duckycraftmc/discord/listeners/EmoteOnlyMode.class
/target/classes/net/duckycraftmc/discord/commands/EmoteOnlyModeCommand.class
/.idea/inspectionProfiles/Project_Default.xml
/target/classes/net/duckycraftmc/discord/commands/SkipCommand.class
/target/classes/net/duckycraftmc/discord/listeners/MessageLogger.class
/target/classes/net/duckycraftmc/discord/commands/HelpCommand.class
/.idea/uiDesigner.xml
/target/classes/net/duckycraftmc/discord/commands/musiccommands/JoinCommand.class
/target/classes/net/duckycraftmc/discord/commands/musiccommands/QueueCommand.class
/target/classes/net/duckycraftmc/discord/commands/musiccommands/SkipCommand.class
/target/classes/net/duckycraftmc/discord/commands/musiccommands/StopCommand.class
